@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:slnt,wght@-3,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* .bitcount-single-<uniquifier> {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" -3,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
} */

/* .playwrite-hu-<uniquifier> {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --background-color: rgb(255, 255, 255);
  --main-color: #00345f;
  --second-color: rgb(255, 170, 0);
  --third-color: color-mix(in srgb, var(--main-color) 30%, white);

  --font-size-title: 2rem;       /* For big page titles */
  --font-size-subtitle: 1.75rem;   /* For smaller section titles */
  --font-size-text: 1rem;          /* For normal body text */
  --font-size-small: 0.875rem;     /* For small details */
  --font-size-navbar: 1rem;
}


*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: var(--background-color);
 font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.backgroundbox{
  background-color: var(--main-color);
  width: 30%;
  height: 100vh;
}

.navbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 60px;
  color: var(--text-color);
  z-index: 1000;
  height: 80px;
}

.navbar__menu{
  display: flex;
  justify-content: space-between;
  width: 20rem;
  font-size: var(--font-size-navbar);
  color: var(--main-color);
  font-weight: 500;
}

.navbar__menu a:hover{
  border-bottom: solid 3px;
}

.navbar__menu a{
  text-decoration: none;
  color: inherit;
  padding-bottom: 10px;
  border-radius: 2px;

}

.profile{
  height: 100vh;
}

.profile__card{
  height: 300px;
  width: 70%;
  position: relative;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  margin-bottom: 20px;
}

.profile__picture{
  position: relative;
  padding-left: 70px;
  align-self: end;
  display: flex;
}

.profile__picture img{
  width: 100%;
  aspect-ratio: 1/1;
  /* border: solid 1px var(--main-color); */
}

.circle__1{
  background-color: rgb(200, 200, 200);
  height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  top: 50%;
}

.circle__2{
  background-color: rgb(200, 200, 200);
  height: 250px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
}

.profile__description{
  grid-column: span 2;
  padding-left: 70px;
  padding-right: 70px;
}

.profile__description button{
  background-color: var(--second-color);
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.profile__description button:hover{
  filter: brightness(0.9);
}


.profile__description h1{
  font-size: var(--font-size-title);
  color: var(--main-color);
  font-weight: 600;
}

.profile__description p{
  font-size: var(--font-size-text);
  color: black;
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
}

.highlight{
  color: var(--second-color);
  font-weight: 500;
}

.profile__link{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 ;
}

.profile__link svg{
  margin: 15px;
  color: rgb(103, 103, 103);
  font-size: 26px; 
}

.profile__link svg:hover{
  transform: scale(1.2);
  
}

.profile__skill{
  background-color: #4e4e4e;
  color: aliceblue;
  padding: 40px 90px;
}

.profile__skill div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
}

.profile__skill ul{
}

.profile__skill li{
  text-decoration: none;
  list-style: none;
  padding: 10px 0px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.profile__skill li svg{
  font-size: 30px;
}


/* .profile__skill svg{
  font-size: 30px;
} */

.profile__tools{
  background-color: #4e4e4e;
  color: aliceblue;
  padding: 40px 90px;
  text-align: center;
  position: relative;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.profile__tools div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 600;
}

.profile__tools li{
  text-decoration: none;
  list-style: none;
  padding: 10px 0px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.profile__tools li svg{
  font-size: 30px;
}

/* .profile__tools svg{
  font-size: 25px;
} */

.devider__1{
  background-color: white;
  width: 3px;
  border-radius: 20px;
  height: 70%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%,-50%);
}

.devider__2{
  background-color: white;
  width: 3px;
  border-radius: 20px;
  height: 70%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%,-50%);
}

.profile__experience{
  background-color: #4e4e4e;
  color: aliceblue;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
    padding: 40px 90px;
}

.profile__experience div{
display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 40px;

}

.profile__experience li{
  padding: 10px 0px;
  font-size: 15px;
  display: flex;
  align-items: center;
}


.profile__experience svg{
  font-size: 30px;
}

.certificatelist table{
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-collapse: collapse;
  border: none;
}


.certificatelist tr{
  border-bottom: solid white 8px;
  border-radius: 20px;
}

.certificatelist td,th{
  padding: 10px;
  text-align: left;
}

.certificatelist button{
  padding: 10px 50px;
}

.portfoliogrid{
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 50vh;
  gap: 10px;
}

.portfoliogrid div{
  background-color: burlywood;
  padding: 20px;
  border-radius: 4px;
}

.portfoliogrid div:hover{
  transform: scale(1.025);
}



@media screen and (max-width: 1400px) {
  .profile__description{
    padding-right: 10px;
  }

  .profile__picture{
    padding-left: 10px;
  }
}

@media screen and (max-width: 1200px) {


  .navbar__menu{
    width: 250px;
  }
  .profile__card{
    grid-template-columns: 1fr;
    text-align: center;
    width: 90%;
  }

  .profile__description{
    grid-column: span 1;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-bottom: 20px;
  }

  .profile__description h1{
    font-size: 25px;
    height: 30px;
  }

  .profile__picture{
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }

  .profile__link{
    justify-content: center;
  }

  .profile__link svg{
    margin: 15px 15px 0 15px;
  }

  .profile__picture img{
    width: 200px;
    text-align: center;
  }

  .profile__skill{
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
  }


  .profile__tools{
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
  }

  .profile__experience{
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
  }

  .devider__1{
    background-color: transparent;
  }

  .devider__2{
    background-color: transparent;
  }


  .portfoliogrid{
    grid-template-columns: 1fr;
  }

  .circle__1{
    display: none;
  }

  .circle__2{
    display: none;
  }
}